.circleMosaic{
	position: relative;
	width: 100%;
	margin: 0 auto;
	&__outter{
		position: relative;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	&__inner{
		display: none;
	}
	&__floatIcon{
		display: flex;
		align-items: center;
		position: relative;
		margin: 10px 0;
		.circularIcon{
			height: 60px;
			width: 60px;
			max-height: 60px;
			max-width: 60px;
			background-color: #5699d7;
			position: relative;
			flex: 1;
			&:after{
				content: '';
				position: absolute;
				height: 23px;
				width: 0px;
				border: 1px solid #999;
				display: block;
				bottom: -25px;
				left: 50%;
				transform: translateX(-50%);
			}
			&__icon{
				height: 25px;
				width: 25px;
			}
		}
		.contentText{
			text-align: left;
			margin-left: 50px;
			flex: 3;
			&__title{
				margin: 0;
				font-size: 16px
			}
			&__text{
				margin: 0;
				font-size: 14px
			}
		}
		&--pos4{
			.circularIcon{
				&:after{
					display: none;
				}
			}
		}
	}
}

@media (min-width: 768px){
	.circleMosaic{
		width: 350px;
		height: 350px;
		&__floatIcon{
			.contentText{
				display: none;
			}
		}
		&__outter{
			position: absolute;
			border: 1px solid #ccc;
			flex-wrap: no-wrap;
		}
		&__inner{
			padding: 25px;
			border-radius: 50%;
			height: 68%; 
			width: 68%;
			background-color: #1a2741;
			display: flex;
			justify-content: center;
			align-items: center;
			.contentText{
				color: #fff;
				&__title{
					margin: 0 0 10px;
					font-size: 16px;
				}
				&__text{
					color: #fff;
					margin: 0;
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
		&__floatIcon{
			position: absolute;
			.circularIcon{
				height: 50px;
				width: 50px;
				background-color: #5699d7;
				&:after{
					display: none;
				}
				&__icon{
					height: 25px;
					width: 25px;
				}
			}
			&--pos0{
				transform: translateX(-50%);
				bottom: 11%;
				right: -5%;
			
			}
			&--pos1{
				left: -7.5px;
				top: 20%;
			}
			&--pos2{
				right: -7.5px;
				top: 20%;
			}
			&--pos3{
				bottom: 11%;
				left: 5px;
			}
			&--pos4{
				bottom: 2.5%;
				right: 30px;
			}
			&--active{
				.circularIcon{
					transition: ease 2s;
					animation: activeOption 2s infinite;
				}
			}
		}
	}
}

@keyframes activeOption{
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}