.conhecaInfos{
	background-color: #1a2741;
	padding: 80px 20px;
	display: none;
	&__compose{
		display: flex;
		justify-content: space-around;
		max-width: 1080px;
		margin: 0 auto;
		flex-wrap: wrap;
	}
}