.contentText{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	&__title{
	}
	&__separator{
	}
	&__separatorIcon{
		display: block;
	    height: 15px;
	    width: 15px;
	    background-size: contain;
	    margin: 0 auto;
		position: relative;
		&:after, &:before{
			content: '';
			display: block;
			width: 20px;
			height: 1px;
			background-color: #999;
			position: absolute;
			top: 7.5px;
		}
		&:after{
			left: 20px;
		}
		&:before{
			right: 20px;
		}
	}
	&__text{
		font-size: 14px;
	}
}