.projetos{
    .intro{
        padding: 120px 0;
        background-color: #eeeeee;
        &__container{
            .contentText{
                &__title{
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #1a2741;
                    margin-top: 0!important;
                    
                }
                &__text{
                    padding-top: 1.5em;
                    width: 60%;
                    margin: 0 auto;
                    color: #555;
                }
            }
        }
    }
    .videos{
        display: flex;
        flex-wrap: wrap;
        .video{
            position: relative;
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
                .video__title{
                    position: absolute;
                    top: -45%;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: bold;

                }
            &:hover{                
                &::before{
                    content: '';
                    background-color: #000;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    opacity: .7;
                    z-index: 1;
                    cursor: pointer;
                    
                    } 
                    .video__title{
                        top: 40%;
                        transition: 1s;
                        z-index: 2;
                    }              
            }
            
                


            &__thumb {
                width: 100%;
                object-fit: cover;
                height: 280px;
            }
        }
    }
}
.modal {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #00000069;
    &__box{
        width: 90%;
        max-width: 700px;
        height: 60%;
        background-color: #1a2741a6;
        position: relative;     

    }
    &__header{
        position: relative;
        height: 12%;
    }
    &__title{
        color: #fff;
        text-transform: uppercase;        
        font-size: 15px;
        padding: .5em 3em .2em 1em;
    }
    &__close{
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 1em;
        padding: .3em .6em; 
        border: 1px solid #ccc;
        color: #fff;
        text-align: center;
        border-radius: 50px;
        cursor: pointer;

    }
    &__videoWrapper{
        position: relative;
        height: 88%;
        iframe{
            position: relative;
            height: 100%;
        }  
    }
}

.loader{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&__content{
	    border: 16px solid #ccc; /* Light grey */
	    border-top: 16px solid #282828; /* Blue */
	    border-radius: 50%;
	    width: 120px;
	    height: 120px;
	    animation: spin 2s linear infinite;
	    span{
	    	display: inline-block;
	    }
	}

	@keyframes spin {
	    0% { transform: rotate(0deg); }
	    100% { transform: rotate(360deg); }
	}
}

@media(min-width: 768px){
    .projetos{
        .videos{
            .video{
                width: 50%;
            }
        }
    }
}
@media(min-width: 1140px){
    .projetos{
        .videos{
            .video{
                width: 25%;
            }
        }
    }
    .modal{
        &__box{        
            width: 60%;
        }
        &__title{
            font-size: 20px;
            padding: 0 1em;
        }
    }
}